.line {
    border-top: 1px solid rgb(230, 229, 229);
    margin-bottom: 0px;
}


.rentalsContent {
    display: flex;
    justify-content: start;
    height: calc(100vh - 135px);
}

.rentalsContentL {
    width: 50%;
    padding: 30px;
    height: calc(100vh - 150px);
    overflow: scroll;
}

.rentalsContentR {
    width: 50%;
}

.rentalDiv {
    display: flex;
    justify-content: space-around;
}

.rentalDivH {
    animation: mymove 3s;
    border-radius: 20px;
    display: flex;
    justify-content: start;
}


@keyframes mymove {
    from {
        background-color: #dddddd;
    }

    to {
        background-color: #dddddd00;
    }
}

.rentalImg {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin-right: 20px;
}

.rentalInfo {
    padding: 10px;
    width: 100%;
}

.rentalTitle {
    font-size: 23px;
    margin-bottom: 15px;
    ;
}

.rentalDesc {
    color: gray;
}

.bottomButton {
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
}

.price {
    display: flex;
    justify-content: end;
    gap: 5px;
    color: #808080;
    font-size: 12px;
}